<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h3>Cadastro</h3>
				{{LubriCtrl.lubri}}

				<form>
				  <fieldset class="form-group">
				    <label>Mês Referente</label>
				    <input type="date" class="form-control" ng-model="LubriCtrl.lubri.data">
				  </fieldset>

				 	<label>Veiculo</label>
				  	<select data-ng-model="LubriCtrl.lubri.veiculo" class="form-control">
				  		<option value="{{ veiculo._id }}" ng-repeat="veiculo in LubriCtrl.veiculos">
				  			{{veiculo.nome}} - {{veiculo.placa}}
				  		</option>
				  	</select>
				</br>

				  <fieldset class="form-group">
				    <label>Custo KM</label>
				    <input type="number" class="form-control" ng-model="LubriCtrl.lubri.custoKm">
				  </fieldset>

				  <fieldset class="form-group">
				    <label>Média Km/L</label>
				    <input type="number" class="form-control" ng-model="LubriCtrl.lubri.mediaKm">
				  </fieldset>

				  <button class="btn btn-primary" type="sumit" 
				  ng-click="LubriCtrl.add(LubriCtrl.veiculo)">Cadastrar</button>
				  <button class="btn btn-danger" ng-click="LubriCtrl.limpar()">Cancelar</button>
				</form>
				

			</div>
		</div>
	</div>
</div>