<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h3>Lista de veiculos cadastrados</h3>
				<div class="table-responsive">
					<table class="table table-bordered table-hover"  datatable="ng">
						<thead>
							<th>Motorista</th>
							<th>Placa</th>
							<th>Marca</th>
							<th>Modelo</th>
							<th></th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<tr data-ng-repeat="veiculo in VeiculoController.veiculos">
								<td>{{veiculo.nome}}</td>
								<td>{{veiculo.placa}}</td>
								<td>{{veiculo.marca}}</td>
								<td>{{veiculo.modelo}}</td>
								<td><button class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
								<td><button class="btn btn-warning" ng-click="VeiculoController.alteraVeic(veiculo)"><span class="glyphicon glyphicon-pencil"></span></button></td>
								<td><button class="btn btn-danger" ng-click="VeiculoController.removeVeic(veiculo)"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>