<!-- MENU LATERAL -->
<style>
  ul {
    list-style:none;
  }
</style>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#menuVeiculo"
						class aria-expanded="true">
							Veiculos
						</a>
						<ul id="menuVeiculo" class="collapse in" aria-expanded="true">
							<li><a href="#/veiculoCad">Cadastrar</a></li>
							<li><a href="#/veiculoList">Listar</a></li>
						</ul>
					</li>
					<li>
						<a>Combustível</a>
						<ul>
							<li><a href="#/lubriCad">Cadastrar</a></li>
							<li><a href="#/lubriList">Listar</a></li>
						</ul>
					</li>
					<li>
						<a>ARLA</a>
						<ul>
							<li><a href="#/arla">Cadastrar</a></li>
							<li><a href="#/arlaList">Listar</a></li>
						</ul>
					</li>
					<li class="active"><a href="#/graficos">Gráficos</a></li>
				</ul>
			</div>
		</div>
	</div>
<!--  -->
