body {
	font-size: 14px;
	line-height: 1.42;

}
#wrapper {
	padding-left: 225px;
}
#page-wrapper {
	padding: 10px;
	padding-top: 60px;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.side-nav>li>a {
    width: 225px;
}
.side-nav>li>ul {
    padding: 0;
}